<img class="returnTop" src="{$Think.INDEX_IMAGES_URL}return_top.png" alt="">
<div class="navWrap">
    <div class="nav clear">
        <img class="logo fl" src="{$Think.INDEX_IMAGES_URL}logo.png" alt="">
        <ul class="nav_ul">
            <a href="__MODULE__/Index/index" ><li>首页</li></a>
            <a href="__MODULE__/Index/lesson"><li>课程</li></a>
            <a href="__MODULE__/Teacher/teacher"><li>师资</li></a>
            <a href="__MODULE__/Student/student"><li>学员</li></a>
            <a href="__MODULE__/Case/cases"><li>案例</li></a>
            <a href="__MODULE__/View/views"><li>视野</li></a>
            <a href="__MODULE__/About/about"><li>关于</li></a>
        </ul>
    </div>
</div>
