<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JS_URL}html5.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JS_URL}respond.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JS_URL}PIE_IE678.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_CSS_URL}H-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_CSS_URL}H-ui.admin.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_LIB_HUI_ICONFONT_CSS_URL}iconfont.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_LIB_ICHECK_CSS_URL}icheck.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_SKIN_DEFAULT_CSS_URL}skin.css" id="skin"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_CSS_URL}style.css"/>
        <!--[if IE 6]>
        <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>DD_belatedPNG.fix('*');</script>
        <![endif]-->
        <title>云珠沙龙TIC</title>
    </head>
    <body>
        <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 合作申请 <span class="c-gray en">&gt;</span> 媒体申请列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
                                                                                                                       href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">
                    &#xe68f;</i></a></nav>
        <div class="page-container">

            <div class="cl pd-5 bg-1 bk-gray mt-20">
                <span class="r">共有数据：<strong>{$size}</strong> 条</span></div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                        <tr class="text-c">
                            <th width="80">ID</th>
                            <th width="80">姓名</th>
                            <th width="90">手机号码</th>
                            <th width="150">电子邮箱</th>
                            <th width="130">职位</th>
                            <th width="130">公司</th>
                            <th width="80">证件</th>
                            <th width="130">添加时间</th>
                            <th width="100">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $arrData as $k1=>$v1} 
                        <tr class="text-c">
                            <td>{$v1.meid}</td>
                            <td>{$v1.name}</td>
                            <td>{$v1.phone}</td>
                            <td>{$v1.email}</td>
                            <td>{$v1.job}</td>
                            <td>{$v1.company}</td>
                            <td class="td-manage">
                                <a title="预览" href="javascript:;" onclick="pic_see('图片预览', '{$smarty.const.__CONTROLLER__}/picSee?pic={$v1.credential}', '4', '780', '550')" class="ml-5" style="text-decoration:none"><i
                                        class="Hui-iconfont">&#xe695;</i></a>
                            </td>
                            <td>{$v1.time}</td>
                            <td class="td-manage">
                                <a title="删除" href="javascript:;" onclick="media_del(this, '{$v1.meid}')" class="ml-5" style="text-decoration:none"><i
                                        class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JQUERY_JS_URL}jquery.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_LAYER_JS_URL}layer.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_LAYPAGE_JS_URL}laypage.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_MY97DATEPICKER_JS_URL}WdatePicker.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_DATATABLES_JS_URL}jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_STATIC_HUI_JS_URL}H-ui.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_STATIC_HUI_JS_URL}H-ui.admin.js"></script>
        {literal}
        <script type="text/javascript">
                                    $(function () {
                                        $('.table-sort').dataTable({
                                            "aaSorting": [[0, "desc"]], //默认第几个排序
                                            "bStateSave": true, //状态保存
                                            "aoColumnDefs": [
                                                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                                                {"orderable": false, "aTargets": [5,8]}// 制定列不参与排序
                                            ]
                                        });
                                        $('.table-sort tbody').on('click', 'tr', function () {
                                            if ($(this).hasClass('selected')) {
                                                $(this).removeClass('selected');
                                            } else {
                                                table.$('tr.selected').removeClass('selected');
                                                $(this).addClass('selected');
                                            }
                                        });
                                    });
                                    /*图片-预览*/
                                    function pic_see(title, url, id, w, h) {
                                        layer_show(title, url, w, h);
                                    }
                                    /*记录-删除*/
                                    function media_del(obj, id) {

                                        layer.confirm('确认要删除吗？', function (index) {
                                            var data = {id: id};
                                            $.post('/index.php/Admin/Cooperation/dataDel?type=media&tyid=meid', data, function (ret) {
                                                if (ret == 'true') {
                                                    $(obj).parents("tr").remove();
                                                    layer.msg('已删除!', {icon: 1, time: 1000});
                                                } else {
                                                    layer.msg('删除失败!', {icon: 2, time: 1000});
                                                }

                                            }, 'text');

                                        });
                                    }
        </script>
        {/literal}
    </body>
</html>