<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中创学院 - 知行合一、创赢未来</title>
    <meta name="description"
          content="中创学院（China Institute of Innovation，CII）是一个探索未来、主动创新，培育创新产业领军人的学院；一个产学研政经媒各种资源整合，协同创新、合作共赢的平台；一个具有“创新、产业、国家、民族”情怀的学院。"/>
    <meta name="keywords" content="中创学院"/>
    <link rel="shortcut icon" href="{$Think.INDEX_IMAGES_URL}favicon.ico">
    <link rel="stylesheet" href="{$Think.INDEX_CSS_URL}common.css">
    <link rel="stylesheet" href="{$Think.INDEX_CSS_URL}vision.css">
    <style>
        .footer-bottom{
            padding-bottom: 10px;
        }
    </style>
</head>
<body>
<include file="./Index/View/Common/header.html"/>

<div class="main clear">
    <div class="fl" style="width:820px;background:#fff;padding:0 36px 36px;margin-bottom: 30px;">
        <h4>{$arrData.title}</h4>
        <span class="classify" style="margin-left:180px; color:#022ab2;">
                <if condition="$arrData.class eq 1">学院动态
				<elseif condition="$arrData.class eq 2"/>产业智库
				<else/>时事热点
				</if>
        </span>
        <span class="pubishTime" style="color:#999">时间：2017-05-13</span><span style="color:#999">作者：{$arrData.author}</span>
        <span style="margin-left:42px;color:#999">来源：{$arrData.from}</span>
        <div class="line" style="color:#999"></div>
        {$arrData.content}
    </div>

    <div class="fr">
        <div class="hotNews clear">
            <div class="fl con"></div>
            <span class="fl">热门资讯</span>
        </div>

        <foreach name="arrRelated" item="vo" key="k">
            <a href="__CONTROLLER__/detail?vied={$vo.vied}">
                <div class="secion">
                    <img src="{$Think.PUBLIC_UPLOAD}{$vo.thumbimg}" alt="" width="232px" height="132px">
                    <p class="word">{$vo.title}</p>
                    <p class="time">发布时间：{$vo.time}</p>
                </div>
            </a>
        </foreach>

    </div>
    <include type="html" file="./Index/View/Common/footer.html" />
</div>
</body>
<script src="{$Think.INDEX_JS_URL}jquery-3.0.0.min.js"></script>
<script src="{$Think.INDEX_JS_URL}common.js"></script>
<script>
    $('.navWrap .nav a').eq(5).addClass('active');
</script>

</html>