<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <LINK rel="Bookmark" href="/favicon.ico">
        <LINK rel="Shortcut Icon" href="/favicon.ico"/>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JS_URL}html5.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JS_URL}respond.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JS_URL}PIE_IE678.js"></script>
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_CSS_URL}H-ui.min.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_CSS_URL}H-ui.admin.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_LIB_HUI_ICONFONT_CSS_URL}iconfont.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_LIB_ICHECK_CSS_URL}icheck.css"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_SKIN_DEFAULT_CSS_URL}skin.css" id="skin"/>
        <link rel="stylesheet" type="text/css" href="{$smarty.const.ADMIN_STATIC_HUI_CSS_URL}style.css"/>
        <link href="{$smarty.const.ADMIN_LIB_WEBUPLOADER_CSS_URL}webuploader.css" rel="stylesheet" type="text/css" />
        <!--[if IE 6]>
        <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
        <script>DD_belatedPNG.fix('*');</script>
        <![endif]-->

        <title>云珠沙龙TIC</title>
    </head>
    <body>
        <article class="page-container">


            <form action="" method="post" class="form form-horizontal" id="form-member-add">
                <input type="hidden" id="img1" name="img1" value="{$arrData['header']}">
                <input type="hidden" id="img2" name="img2" value="{$arrData['listimg']}">
                <input type="hidden" id="img3" name="img3" value="{$arrData['speechimg']}">
                <input type="hidden" id="guid" name="guid" value="{$arrData['guid']}">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>姓名：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$arrData['name']}" placeholder="请输入嘉宾姓名" id="name" name="name">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>职位：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="text" class="input-text" value="{$arrData['job']}" placeholder="请输入嘉宾职位" id="job" name="job">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">* </span>头像：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="file" id="header" name="header"><span class="c-red">(图片规格：70*70)</span>
                        <img src="/Upload/{$arrData['header']}" style="width:70px;height:70px;border-radius: 70px;"  id="header_see">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">* </span>嘉宾列表图：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="file" id="listimg" name="listimg"><span class="c-red">(图片规格：178*178)</span>
                        <img src="/Upload/{$arrData['listimg']}" style="width:178px;height:178px;" id="listimg_see">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2"><span class="c-red">* </span>演讲列表图：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="file" id="speechimg" name="speechimg"><span class="c-red">(图片规格：248*280)</span>
                        <img src="/Upload/{$arrData['speechimg']}" style="width:248px;height:280px;" id="speechimg_see">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-2">简介：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <textarea name="introduce" id="introduce" cols="" rows="" class="textarea" placeholder="说点什么...最少输入10个字符"
                                  onKeyUp="textarealength(this, 500)">{$arrData['introduce']}</textarea>
                        <p class="textarea-numberbar"><em class="textarea-length">0</em>/500</p>
                    </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-2 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                        <input class="btn btn-primary radius" type="button" id="btn_submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </div>
                </div>
            </form>
        </article>

        <!--_footer 作为公共模版分离出去-->
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JQUERY_JS_URL}jquery.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_JS_URL}jquery.form.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_LAYER_JS_URL}layer.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_ICHECK_JS_URL}jquery.icheck.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JQUERYVALIDATION_JS_URL}jquery.validate.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JQUERYVALIDATION_JS_URL}validate-methods.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_LIB_JQUERYVALIDATION_JS_URL}messages_zh.min.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_STATIC_HUI_JS_URL}H-ui.js"></script>
        <script type="text/javascript" src="{$smarty.const.ADMIN_STATIC_HUI_JS_URL}H-ui.admin.js"></script>
        <!--/_footer /作为公共模版分离出去-->

        <!--请在下方写此页面业务相关的脚本-->
        {literal}
        <script type="text/javascript">
                                      $('#btn_submit').on('click', function () {
                                          var guid=$('#guid').val();
                                          var name = $('#name').val();
                                          var job = $('#job').val();
                                          var headerimg=$('#img1').val();
                                          var listimg=$('#img2').val();
                                          var speechimg=$('#img3').val();
                                          var introduce = $('#introduce').val();
                                          var introduces=introduce.replace(/\n|\r\n/g,"<br>");
                                          if(name==""||job==""||headerimg==""||listimg==""||speechimg==""||introduce==""){
                                              layer.msg('请把资料填完整', {icon: 1, time: 2000});
                                              return false;
                                          }
                                          var data = {name: name, job: job,header:headerimg,listimg:listimg,speechimg:speechimg, introduce: introduces};
                                          $.post('/index.php/Admin/Guest/editGuest?guid='+guid, data, function (ret) {
                                              var json = JSON.parse(ret);
                                              if (json.result == 'true') {

                                                  layer.msg('上传成功!', {icon: 1, time: 1000},function(){
                                                      var index = parent.layer.getFrameIndex(window.name);

                                                      parent.layer.close(index);
                                                  });

                                              } else {
                                                  layer.msg('上传失败!', {icon: 2, time: 1000});
                                              }

                                          }, 'json');
                                      });

                                      $('#header').on('change', function () {
                                          if ($("#mheader").length > 0) {

                                          } else {
                                              $("#header").wrap("<form id='mheader' action='/index.php/Admin/Guest/uploadPic?type=header' method='post' enctype='multipart/form-data'></form>");
                                          }
                                          /*ajax提交*/
                                          $("#mheader").ajaxSubmit({
                                              dataType: 'json',
                                              beforeSend: function () {

                                              },
                                              uploadProgress: function (event, position, total, percentComplete) {

                                              },
                                              success: function (data) {
                                                  if (data.result == 'true') {
                                                      $('#img1').val(data.img);
                                                      $('#header_see').attr('src','/Upload/'+data.img);
                                                      layer.msg('上传成功!', {icon: 1, time: 1000});
                                                      return false;
                                                  } else {
                                                      $('#header').val("");
                                                      layer.msg('上传失败!', {icon: 2, time: 1000});
                                                      return false;
                                                  }
                                              },
                                              error: function (xhr) {
                                                  //var result = $.trim(xhr.responseText);//去掉字符串两端的空白
                                              }
                                          });
                                      });
                                      $('#listimg').on('change', function () {
                                          if ($("#mlistimg").length > 0) {

                                          } else {
                                              $("#listimg").wrap("<form id='mlistimg' action='/index.php/Admin/Guest/uploadPic?type=listimg' method='post' enctype='multipart/form-data'></form>");
                                          }
                                          /*ajax提交*/
                                          $("#mlistimg").ajaxSubmit({
                                              dataType: 'json',
                                              beforeSend: function () {

                                              },
                                              uploadProgress: function (event, position, total, percentComplete) {

                                              },
                                              success: function (data) {
                                                  if (data.result == 'true') {
                                                      $('#img2').val(data.img);
                                                      $('#listimg_see').attr('src','/Upload/'+data.img);
                                                      layer.msg('上传成功!', {icon: 1, time: 1000});
                                                      return false;
                                                  } else {
                                                      $('#listimg').val("");
                                                      layer.msg('上传失败!', {icon: 2, time: 1000});
                                                      return false;
                                                  }
                                              },
                                              error: function (xhr) {
                                                  //var result = $.trim(xhr.responseText);//去掉字符串两端的空白
                                              }
                                          });
                                      });
                                      $('#speechimg').on('change', function () {
                                          if ($("#mspeechimg").length > 0) {

                                          } else {
                                              $("#speechimg").wrap("<form id='mspeechimg' action='/index.php/Admin/Guest/uploadPic?type=speechimg' method='post' enctype='multipart/form-data'></form>");
                                          }
                                          /*ajax提交*/
                                          $("#mspeechimg").ajaxSubmit({
                                              dataType: 'json',
                                              beforeSend: function () {

                                              },
                                              uploadProgress: function (event, position, total, percentComplete) {

                                              },
                                              success: function (data) {
                                                  if (data.result == 'true') {
                                                      $('#img3').val(data.img);
                                                      $('#speechimg_see').attr('src','/Upload/'+data.img);
                                                      layer.msg('上传成功!', {icon: 1, time: 1000});
                                                      return false;
                                                  } else {
                                                      $('#speechimg').val("");
                                                      layer.msg('上传失败!', {icon: 2, time: 1000});
                                                      return false;
                                                  }
                                              },
                                              error: function (xhr) {
                                                  //var result = $.trim(xhr.responseText);//去掉字符串两端的空白
                                              }
                                          });
                                      });
        </script>
        {/literal}
        <!--/请在上方写此页面业务相关的脚本-->
    </body>
</html>